/*
* App Global CSS
* ----------------------------------------------------------------------------
* Put style rules here that you want to apply globally. These styles are for
* the entire app and not just one component. Additionally, this file can be
* used as an entry point to import other CSS/Sass files to be included in the
* output CSS.
* For more information on global stylesheets, visit the documentation:
* https://ionicframework.com/docs/layout/global-stylesheets
*/

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
* Ionic Dark Mode
* -----------------------------------------------------
* For more info, please see:
* https://ionicframework.com/docs/theming/dark-mode
*/

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
@import "~leaflet/dist/leaflet.css";


* {
    font-family: system-ui, "Raleway", sans-serif;
    font-feature-settings: "lnum" 1;
}

p {
    font-family: "Open Sans", sans-serif;
}

body,
html {
    scroll-behavior: smooth;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;

    ::-webkit-scrollbar {
        width: 0;
    }
}

.container {
    max-width: 1200px; // Adjust the max-width as per your requirement
    margin: 0 auto; // Center the container
    padding: 0 16px; // Provide some space on the sides for smaller screens

    // Media queries for various screen sizes
    @media screen and (min-width: 768px) {
        padding: 0 30px; // Increase padding on medium screens
    }

    @media screen and (min-width: 992px) {
        max-width: 1140px; // Adjust max-width for large screens
    }

    @media screen and (min-width: 1200px) {
        max-width: 1140px; // Adjust max-width for extra large screens
    }
}